{% extends 'navbar.html' %}
{% load static %}  
{% block content %} 
                        <div class="col-lg-6">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Add Contact Form</b></h4>
                                
                                            
                                <form action="{% url 'addcontact' %}" method="POST" data-parsley-validate novalidate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" id="id_user">User*</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="user" id="id_user">
                                                {% comment %} {% for i in form %}
                                                   <option value="{{i}}"></option>
                                                {% endfor %} {% endcomment %}
                                                {% for i in form %} 
                                                <option value={{i}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fname" id="id_fname">Fname*</label>
                                        <input type="text" name="fname" parsley-trigger="change" required placeholder="Enter Fname........" class="form-control" id="id_fname">
                                    </div>
                                    <div class="form-group">
                                        <label for="lname" id="id_lname">Lname*</label>
                                        <input type="text" name="lname" parsley-trigger="change" required placeholder="Enter lname........" class="form-control" id="id_lname">
                                    </div>
                                    <div class="form-group">
                                        <label for="country" id="id_country">country*</label>
                                        <input type="text" name="country" parsley-trigger="change" required placeholder="Enter country........" class="form-control" id="id_country">
                                    </div>
                                    <div class="form-group text-right m-b-0">
                                        <input type="submit" value="Add" class=" btn btn-primary ">
                                        {% comment %} <a href="{% url 'contacts' %}" class="btn btn-primary waves-effect waves-light" type="submit" value="add">
                                            Submit
                                        </a>  {% endcomment %}
                                        <button type="reset" class="btn btn-default waves-effect waves-light m-l-5">
                                            Cancel
                                        </button>
                                    </div>                                    
                                </form>
                            </div>
                        </div>        
{% endblock content %} 