
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER </title>
    
        
</head>
<body><hr><br><br><br>
    <form role="form" action="{% url 'addcontact' %}" method="POST" class="w-50 ms-5">
        {% csrf_token %}
     {{form|crispy}}
     <br><input type="submit" value="Add" class="btn btn-primary">
    </form>
</body>
</html>
{% endblock %}