{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}  
{% block content %} 
  

                        <div class="container">
                          <br>
                          <form action="" method='POST' enctype="multipart/form-data">
                              {% csrf_token %}
                              {% for hidden in form.hidden_fields %}
                                {{hidden}}
                              {% endfor %}
                              {% for field in form %}
                              {{ field.label_tag }} {{field}} <br />
                              {% endfor %}
                              {{ imageform.management_form }}
                              {% for form in imageform %}
                              {{ form|crispy }}
                              {% endfor %}
                              <br><input class="btn btn-success" type="submit" name="Add">
                          </form>
                      </div>
                    
{% endblock content %} 