{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/pages.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <title>BLOG</title>
</head>
<body><hr>
    <div class="container-fluid bg-dark">
        {% include 'navbar.html' %}
    </div>
    <div class="w-100">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %}
                {% endblock msg %}
            </div>
        </div>
        <div class="row w-100">
            {% block side %}
            {% endblock side %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/detect.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>


        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>
</body>
</html>