{% extends 'navbar.html' %}
{% load static %}  
{% block content %} 
                    <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                {% if request.user.is_authenticated %}
                                <h5>HELLO,
                                  {{request.user}}</h5>
                                   <h4 style="color: aqua;">{{msg}}</h4>
                                  <br><a href="{% url 'addcomment' %}"><button class="btn btn-primary"><i class="fa fa-edit"></i>ADD COMMENT</button></a>
                                  <br><table id="datatable" class="table table-striped table-bordered">
                                          <thead>
                                              <tr>
                                                  <th>User</th>
                                                  <th>Title</th>
                                                  <th>Comment</th>
                                                  <th>Date</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% for one in data %}

                                              <tr>
                            
                                                  <td>{{one.user}}</td>
                                                  <td>{{one.title}}</td>
                                                  <td>{{one.comment}}</td>
                                                  <td>{{one.created_on}}</td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                    </div> 
{% endblock content %}