{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}
    </style>
</head>
<body><hr><br>
    {% if request.user.is_authenticated %}
    <h4 style="color: aqua;">{{msg}}</h4>
    <a href="{% url 'addcontact' %}"><button class="btn btn-primary"><i class="fa fa-edit"></i>ADD CONTACT</button></a> 
       
    <table class="table text-white m-2">
        <thead>
          <tr>
            <th scope="col">USER</th><br>
            <th scope="col">FNAME</th><br>
            <th scope="col">LNAME</th><br>
            <th scope="col">COUNTRY</th><br>
            <th scope="col">SUBJECT</th><br>
          </tr>
        </thead>
        <tbody>
            {% for one in data %}
            <tr>
            <td>{{one.user}}</td>
            <td>{{one.fname}}</td>
            <td>{{one.lname}}</td>
            <td>{{one.country}}</td>
            <td>{{one.subject}}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endif %}
</body>
</html>
{% endblock %}