{% extends 'navbar.html' %}
{% load static %}  
{% block content %} 
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                {% if request.user.is_authenticated %}
                                <h5>HELLO,
                                  {{request.user}}</h5>
                            <h4 style="color: aqua;">{{msg}}</h4>
                            <a href="{% url 'addpost' %}"><button class="btn btn-primary"><i class="fa fa-edit"></i>ADD POST</button></a> 
                                  <table id="datatable" class="table table-striped table-bordered">
                                          <thead>
                                              <tr>
                                                 
                                                  <th>TITLE</th>
                                                  <th>DESCRIPTION</th>
                                                  <th colspan="2" scope="col" class="text-center">ACTION</th>
                                              </tr>
                                          </thead>


                                          <tbody>
                                          {% for one in data %}

                                              <tr>
                                                <td>{{one.title}}</td>
                                <td>{{one.desc}}</td>
                                <td><a href="{% url 'delete' one.id %}"><button class="btn btn-danger"><i class="fa fa-trash"></i>DELETE</button></a>  </td>
                                <td><a href="{% url 'edit' one.id %}"><button class="btn btn-warning"><i class="fa fa-trash"></i>Edit</button></a>  </td>
                                </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                  </div>
                                {% endif %}
                              </div>
                          </div>
                    </div> <!-- container -->
                               
                
 {% endblock content %}