{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}
    </style>
</head>
<h5>HELLO</h5>
<body><hr>
    <div class="col-sm-12">
        <h3 class="text-white">HOME PAGE</h3>
        <table class="table text-white m-2">
            <thead>
              <tr>
                <th scope="col">TITLE</th>
                <th scope="col">USERNAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">DATE</th>
                <th scope="col">COMMENT</th>
              </tr>
            </thead>
            <tbody>
            {% for datas in data %}
            <tr>
                <td><a href="{% url 'title' datas.id %}">{{datas.title}}</td></a>
                <td><a href="{% url 'userdetails' user.id %}">{{datas.user.username}}</td></a>
                <td>{{datas.desc}}</td> 
                <td>{{datas.date}}</td> 
                <td><a href="{% url 'comments' %}">COMMENT</td></a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
 {% if data.has_other_pages %}
  <ul class="pagination">
    {% if data.has_previous %}
      <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
      <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div><br>
    {% comment %} <p> USER DETAILS </p> {% endcomment %}
</body>
</html>
{% endblock content %}
