{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}
    </style>
</head>
<h5>HELLO</h5>
<body><hr>
    <div class="col-sm-12">
        <h3 class="text-white">HOME PAGE</h3>
<!-- 
        <table>
            <tr class="p-2">
                <th>NUMBER</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
            </tr>
            {% for post in posts %}
            <tr class="p-2">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.desc}}</td>
                
            </tr>
            {% endfor %}
        </table> -->
        <table class="table text-white m-2">
            <thead>
              <tr>
                <th scope="col">TITLE</th>
                <th scope="col">USERNAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">DATE</th>
              </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'title' post.id %}">{{post.title}}</td></a>
                <td>{{post.user.username}}</td>
                <td>{{post.desc}}</td> 
                <td>{{post.date}}</td> 
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><br>
    {% comment %} <p> USER DETAILS </p> {% endcomment %}
    <a href="{% url 'details' %}">USER DETAILS</a>
</body>
</html>
{% endblock content %}
