{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}
.form-group > input{
    padding: 4px 8px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 1rem;
} 
    </style>
</head>
<body>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    <div class="col-sm-10">
        <h3>Login page</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
            </div>
            {% endfor %}
            <input type="submit" value="Login"class='btn btn-success'> 
            {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div> 
</body>
</html>
{% endblock content %}