<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h4>Blog</h4>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul style="display: flex; gap: 1.5rem">
        <li class="nav-item" style="list-style: none">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home' %}"
            style="color: white"
            style="margin-right: 0.5rem">Home</a>
          {% if request.user.is_authenticated %}
        </li>
        <li class="nav-item" style="list-style: none">
          <a class="nav-link" href="{% url 'dashboard' %}" style="color: white">Dashboard</a>
        </li>
        <li class="nav-item" style="list-style: none">
          <a class="nav-link" href="{% url 'contacts' %}" style="color: white">Contacts</a>
        </li>
        <li class="nav-item" style="list-style: none">
          <a class="nav-link" href="{% url 'logout' %}" style="color: white">Logout</a>
        </li>
        {% else %}
        <li class="nav-item" style="list-style: none">
          <a class="nav-link" href="{% url 'signup' %}" style="color: white">Signup</a>
        </li>
        <li class="nav-item" style="list-style: none">
          <a class="nav-link" href="{% url 'login' %}" style="color: white">Login</a >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
